<div class="carousel slide" [id]='carouselId' data-interval="2000">

  <ol class="carousel-indicators">
    <li [attr.data-target]="'#' + carouselId" [attr.data-slide-to]="i" *ngFor="let item of carouselItems; let i = index" class="{{ isActive(i) ? 'active' : '' }}"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item {{ isActive(i) ? 'active' : '' }}" *ngFor="let item of carouselItems; let i = index">
      <img [src]='item.url' [alt]='item.altText' class="img-responsive">
      <div class="carousel-caption">
        <h4>{{ item.name }}</h4>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>