<div class="col-md-10 col-md-offset-1">
  <div class="page-header">
    <h1>Contact</h1>
  </div>
  <section id="contact-main">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>About the author</h4>
      </div>
      <div class="panel-body">
        <div class="row visible-md visible-lg">
          <app-carousel [carouselId] = "'selfCarousel'"></app-carousel>
        </div>
        <p>Hello! My name is Antonio Jesús and I'm the author of Euroscoreboard. I'm a Computer Engineer born in 1983 who loves
          this profession. I also love music, watching Eurovision every year and learning to play instruments. If you want
          to ask me something about Euroscoreboard, please write me to the form in this section or join the
          <a href="https://www.facebook.com/groups/euroscb/">Euroscoreboard Facebook Group</a>.</p>
      </div>
    </div>
  </section>
</div>