<form class="form-horizontal" id="contact-form">
  <div class="form-group">
    <label for="nameInput" class="control-label col-md-2">First Name</label>
    <div class="col-md-10">
      <input type="text" name="nameInput" class="form-control" placeholder="e.g. Your First Name">
    </div>
  </div>
  <div class="form-group">
    <label for="surnameInput" class="control-label col-md-2">Last Name</label>
    <div class="col-md-10">
      <input type="text" name="surnameInput" class="form-control" placeholder="e.g. Your Last Name">
    </div>
  </div>
  <div class="form-group">
      <label for="emailInput" class="control-label col-md-2">Email</label>
      <div class="col-md-10">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
          <input type="text" name="emailInput" class="form-control" placeholder="e.g. Your Email">
        </div>
      </div>
  </div>
  <div class="form-group">
      <label class="control-label col-md-2">Message</label>
      <div class="col-md-10">
        <textarea cols="40" rows="6" class="form-control" placeholder="e.g. Your Question"></textarea>
      </div>
    </div>
  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <input type="submit" value="Submit" class="btn btn-primary" title="Submit your question!" data-placement="right">
    </div>
  </div>
</form>
