/* Class styles */
.navbar-fixed-bottom div {
    margin-bottom: 0px;
}

.panel-info .panel-heading h4 {
    color: white;
}

.panel-primary .panel-heading h2 {
    color: white;
}

.panel-primary .panel-heading h4 {
    color: white;
}

/* Element styles */
body {
    margin-top: 60px;
    margin-bottom: 50px;
}

/* Particular styles */

#logo img{
    height: 50px;
}

#download-body {
    padding: 10px;
}

#selfCarousel{
    width: 300px;
    margin: 20px;
}
