<div id="page">
  <header class="container">
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <div id="logo">
            <h3>
              EUROSCOREBOARD
            </h3>
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav">
              <a href="#">HOME</a>
            </li>
            <li class="nav">
              <a href="#">DOWNLOADS</a>
            </li>
            <li class="nav">
              <a href="#">DESIGNS</a>
            </li>
            <li class="nav">
              <a href="#">FAQ'S</a>
            </li>
            <li class="nav">
              <a href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <section id="body" class="container">
    <div class="panel panel-primary">
      Content to be put here
    </div>
  </section>
  <footer class="container">
    <div class="panel panel-primary">
      Footer to be here
    </div>
  </footer>
</div>