<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="page-header">
        <h1>Welcome</h1>
        <h4>This is the Official Website of Euroscoreboard, an emulator for the Eurovision Song Contest scoreboard</h4>
      </div>

      <section id="main">
        <h2>What will you find here?</h2>
        <hr>
        <h3 class="text-info text-left">Downloads</h3>
        <p class="lead">You'll be able to download all past, present and future releases of Euroscoreboard from this section.</p>
        <h3 class="text-info text-right">Designs</h3>
        <h3 class="text-info text-left">Frequently Asked Questions</h3>
        <h3 class="text-info text-right">Contact</h3>
      </section>
    </div>
  </div>
</div>